*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #ebebeb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #fff159;
    position: fixed;
    z-index: 0;
    box-shadow: 1px 1px 4px #797676;
}

nav ul{
    list-style-type:none;
    display: flex;
    margin-left: 1050px;
    margin-top: 15px;
    gap: 10px;
  
}

.conteiner-submenu{
    margin-left: 300px;
    margin-top: -15px;
}

.conteiner-submenu a{
    color:rgb(99, 99, 99);
}

.conteiner-submenu a:hover{
    color: black;
}

nav a{
    text-decoration: none;
    color: rgb(31, 30, 30);
}

nav img{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: -50px;
    margin-left: 100px;
}

#cart{
    margin-top: -20px;
    margin-left: 35px;
}

input[type='text']{
  margin-left: 22%;
  margin-top: 10px;
  align-items: center;
  text-align:left;
  width: 40em;
  height: 3em;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 2px #797676;
}

nav img:last-child{
    width: 20px;
    margin-left: -30px;
}

::placeholder{
    font-size:15px;
    color: #b6b5b5;
}

.cep{
    display: flex; 
    margin-top: -30px;
    margin-left: 160px;
    font-size: 15px;
}

.location-icon{
    margin-top: -65px;
}


.carrossel{
    overflow: hidden;
    width:100%;
}

.conteiner-carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    margin-top: 105px;
}

#img{
    object-fit: cover;
    width: 1800px;
}
